_build/bin/compiler.cmi
_build/bin/compiler.cmx
_build/bin/compiler.o
_build/bin/minic.cmi
_build/bin/minic.cmx
_build/bin/minic.o
_build/bin/typechecker.cmi
_build/bin/typechecker.cmx
_build/bin/typechecker.o
_build/tests/test_lib.cmi
_build/tests/test_lib.cmx
_build/tests/test_lib.o
_build/tests/test_tchk.cmi
_build/tests/test_tchk.cmx
_build/tests/test_tchk.o
minic
run_tests
*.dot
*.out
